<h1>添加商品</h1>
<%= form_with model: @item do |form| %>
    <p>
        <%= form.label :name, '名称' %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :stock, '数量' %>
        <%= form.telephone_field :stock %>
    </p>
    <p>
        <%= form.label :description, '商品详情' %>
        <%= form.text_area :description%>
    </p>
    <p>
        <%= form.submit%>
    </p>
<% end %>