<div id="login-window">
    <h1>账号登录</h1>
    <%= form_with(model: @user, url: login_path, local: true )do |form| %>
        <p><%= form.label :phone, "手机" %></p>
        <p><%= form.telephone_field :phone%></p>
        <p><%= form.label :password, "密码" %></p>
        <p><%= form.password_field :password %></p>
        <p>
            <%= form.check_box :keep_login %>
            <%= form.label :keep_login, "保持登录"%>
        </p>
        <p>
            <%= form.submit "登录"%>
        </p>
    <% end %>
</div>