<div id="signup-window">
<h1>创建用户</h1>
<%= form_with(model: @user, url: users_path, local: true)do |f| %>
    <p>
        <%= f.label :name, "用户名" %>
        <%= f.text_field :name %>
        <% if @user.errors.messages[:name] != [] %>
            <%= @user.errors.messages[:name] %>
        <% end %>
    </p>
    <p>
        <%= f.label :phone, "手机号" %>
        <%= f.telephone_field :phone %>
        <% if @user.errors.messages[:phone] != [] %>
            <%= @user.errors.messages[:phone] %>
        <% end %>
    </p>
    <p>
        <%= f.label :password, "密码" %>
        <%= f.password_field :password %>
        <% if @user.errors.messages[:password] != [] %>
            <%= @user.errors.messages[:password] %>
        <% end %>
    <p>
        <%= f.submit "注册" %>
    </p>
<% end %>
