<h1>历史订单</h1>
<% if logged_in? %>
<% if current_user.orders.count == 0 %>
<p>您还没有订单, 前往<%= link_to "挑选商品", items_path %></p>
<% end %>
<ul>
    <% current_user.orders.each do |order| %>
    <div class="order-box">
        <li>
            <p class="order-date">创建时间: <%= order.created_at %></p>
            <p><%= link_to order.item.name, order.item %></p>
            <p>数量: <%= order.quantity %></p>
            <p>单价: <%= order.item.price %></p>
            <p>状态: 已完成</p>
            <p><%= link_to '添加评价', new_item_comment_url(order.item)%></p>
        </li>
    </div> 
    <% end %>
</ul>
<% else %>
<p>访问购物车, 请先<%= link_to '登录', login_path %></p>
<% end %>