<style>
p{margin:0;padding:0;}
</style>
<% session[:page]='orders' %>
<p class="order-head-detail ">历史订单</p>
<% if logged_in? %>
  <% if current_user.orders.count == 0 %>
    <p>您还没有订单, 前往<%= link_to "挑选商品", items_path %></p>
  <% end %>
  <ul class="  order-ul1">
    <% current_user.orders.each do |order| %>
      <div class="order-box">
        <li>
          <p>
            <span class="order-date  col-xs-6 col-md-6  text-right">创建时间:</span><span class="col-xs-6 col-md-6 text-left "><%= order.created_at.localtime.to_s(:db) %></span>
          </p>
          <p>
            <span class=" col-xs-4 col-md-4 text-right">名&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp字:</span><span class="col-xs-6 col-md-6 text-left "><%= link_to order.item.name, order.item %></span>
          </p>
          <p>
            <span class=" col-xs-6 col-md-6 text-right letter-space2">数&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp量:</span><span class="col-xs-6  col-md-6 text-left "> <%= order.quantity %></span>
          </p>
          <p>
            <span class="  col-xs-6 col-md-6 text-right">单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp价:</span><span class="col-xs-6  col-md-6 text-left "> <%= order.item.price %></span>
          </p>
          <p>
            <span class=" col-xs-6 col-md-6 text-right">状&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp态:</span><span class="col-xs-6  col-md-6 text-left ">已完成</span>
          </p>
          <p>
            <span class=" col-xs-6 col-md-6 text-right">取货&nbsp&nbsp&nbsp&nbsp码:</span><span class="col-xs-6  col-md-6 text-left "><%= order.picking_up_code %></span>
          </p>
          <p class=" text-right add-idea"><%= link_to '添加评价', new_item_comment_url(order.item) %><p>
        </li>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>访问购物车, 请先<%= link_to '登录', login_path %></p>
<% end %>