<h1>加入购物车</h1>
<%= form_for(:cart, url: carts_path, local: true) do |form| %>
    <p>
        <%= @item.name %>
        <%= @item.price %>
    </p>
    <p>

        <%= form.label "数量"%>
        <%= form.text_field :quantity, :value=>@quantity  %>
    </p>

    <%= hidden_field_tag 'item_id', @item.id  %>
    <%= form.submit "确认购买",:class=>"btn btn-primary fr btn-mar"%>
<% end %>
