<style>
p{margin:0;padding:0;}
*{margin: 0; padding: 0; list-style: none;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
</style>
<p class="order-head-detail ">所有商品</p>

<div class="row">
  <% @items.each do |item| %>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card" style="margin-left: 3%;margin-right: 3%;margin-bottom: 3%;" onclick="window.location.href='/items/<%= item.id %>'">
          <%= image_tag item.image, :class=>"card-img-left",height: 300 if item.image.attached? %>
          <div class="card-body">
			  <div>
				   <p class="card-text car-color1 fl "><%= item.name %> </p>
					<p class="card-price car-price-num fr"><span style="color:red"><%= item.price %></span> 象币</p>
			  </div>
			<p class="card-title car-color2"><%= item.description %></p>
          </div>
        </div>
      </div>

  <% end %>
</div>

<script>
    $(function () {
    });
</script>
